@import "styles/mixins";
@import "styles/variables";

.section {
  display: flex;
  justify-content: left;

  @include desktop1024 {
    display: none;
  }
}

.container {
  margin-left: 1px;
  margin-bottom: 30px;
}

.image {
  height: 90px;
  width: 90px;
  background-size: cover;
}