$navy-blue: #007392;
$blue-065: #4bacc6d9;
$light-blue: #cde7ee;
$blue: #4bacc6;
$color-light-black: #525252;

$color-text-light-gray: #929292;
$color-text-gray: #676b6f;
$color-text-blue: $blue;




$main-black: #1b1c1d;

$color-gray: #9f9f9f;
$color-disabled: #cdcfd1;
$color-gray-v1: #f9fafa;
$color-light-gray: #e9eceb;

$fontSize-xs: 12px;
$fontSize-s-14: 14px;
$fontSize-s-15: 15px;
$fontSize-s-16: 16px;
$fontSize-s-18: 18px;
$fontSize-m-20: 20px;
$fontSize-m: 24px;
$fontSize-m-25: 25px;
$fontSize-l-32: 32px;
$fontSize-l-36: 36px;
$fontSize-xl-54: 54px;
$fontSize-xl-60: 60px;
$fontSize-xl-64: 64px;
